*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/
release/

.gradle/
build/
*/build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/
*.iws
*.ipr
*~

*.jks
*.keystore

.externalNativeBuild
.cxx/

google-services.json



*.hprof
*.kotlin_module


Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk


.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/jarRepositories.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml


.classpath
.project
.settings/

*.bak
*.tmp
*.temp
*.swp
*.swo
*~.nib
*.orig

test-results/
androidTest-results/
.test/


.env
.env.local

.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
pubsub-debug.log

app/debug/
app/release/

outputs/


com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


obj/

*.hprof

gradle-app.setting

.gradletasknamecache

# Work space
.project

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

app/src/main/assets/user_images/

*.db
*.sqlite

logs/

screenshots/

*.apk
*.aab
